<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content= "text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <title>메인홈</title>
</head>

<body>
  <article class="container">
    <div class="page-header">
      <h1>메인홈</h1>
    </div>

    <div class="form-group">
      <span style = " font-size:3.5em">
        <p>안녕하세요. 메인페이지입니다.</p>
      </span>
    </div>

    <div class="form-group">
      <a class="btn btn-default" type="button" href="/login">로그인하기<a>
      <a class="btn btn-default" type="button" href="/list">목록보기<a>
    </div>
  </article>
</body>
</html>

