<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인페이지</title>
    <script>

    // if (typeof(Storage) !== "undefined") {
    //     // Code for localStorage/sessionStorage.
    //     console.log("존재해");
    // } else {
    //     // Sorry! No Web Storage support..
    // }
    </script>
  </head>
  <body id="backcolor">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div id="backcolor" class="well" style="margins:auto">
            <h1>로그인했습니다</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
