<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="FeedEk.css">
    <script src="http://momentjs.com/downloads/moment-with-langs.min.js"></script>
    <script src="FeedEk.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <title>미리보기</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }
        .menu {
            width:15%;
            height:2000px;
            background-color: #b7c9ff;
            float:left;
            text-align:left;
        }
        .content {
            width:85%;
            height:2000px;
            float:left;
            text-align:center;
        }
        .fixed {
            position: fixed;
            top: 0px;
        }
    </style>
    <script>
        $( document ).ready( function() {
            var offset = $( '.menu' ).offset();
            $( window ).scroll( function() {
                if ( $( document ).scrollTop() > offset.top ) {
                    $( '.menu' ).addClass( 'fixed' );
                }
                else {
                    $( '.menu' ).removeClass( 'fixed' );
                }
            });
        } );
    </script>
</head>

<body>
<section>
    <article class="">
        <div class="menu">
            <input type="button" id="refresh" value="새로고침"/>
            <p>네이버</p>
            <p>구글</p>
            <p>다음</p>
        </div>
        <div class="content"></div>
    </article>
</section>
<script>
    $(document).ready( function() {
        $('#con').FeedEk({
            FeedUrl: 'rss-url',         //rss-url : RSS Feed 주소 입력
        });

        $.ajax({
            url:'',
            dataType:'json',
            type:'post',
            data:{'name':'123','address':'456'},
            cache:false,
            beforeSend: function (request) {
                request.setRequestHeader('x-access-token', '');
            },
            success:function (data) {
                $.each(data.dataList, function(index) {     //(data, function(index,item)/
                    $('li').eq(index).html(data.dataList[index].val);
                });
            }, error:function (XMLHttpRequest,textStatus,errorThrown) {
                console.log("Status: "+textStatus);
            },timeout:3000
        })
    })
</script>
</body>
</html>
