<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <title>회원가입</title>
  <style media="screen">
    @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Baloo+Tammudu|Delius+Unicase|Griffy|Lobster|Pacifico');
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

    #header {

      font-family: 'Amatic SC', cursive;
      /*font-family: 'Delius Unicase', cursive;*/
      height: 70px;
      background: #fff;
      /*z-index: 100;*/
      padding-top: 20px;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 10px;
    }

    #signup {
      font-family: 'Noto Sans KR', sans-serif;
      line-height: 1.3em;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%);
    }
  </style>
  <script type="text/javascript">
  </script>
</head>

<body>
  <section>
    <div id="header" style="">
      <h2 style="text-align:center; font-weight:bold"><img style="margin-left:0px" src="https://image.flaticon.com/icons/svg/540/540209.svg" width="40px" height="40px">  SCRAMBLE </h2>
    </div>
    <article id="signup">
      <form action="" method="post">
        <input type="email" class="form-control" style="font-size:18px; width:350px; height:60px" id="id" placeholder="이메일" /></br>
        <input type="password" class="form-control" style="font-size:18px; width:350px; height:60px" id="password" name="pw" onkeyup="check()" placeholder="비밀번호" /></br>
        <input type="password" class="form-control" style="font-size:18px; width:350px; height:60px" id="passwordCheck" name="pw" onkeyup="check()" placeholder="비밀번호확인" /></br>
        <p id="CheckText" style="color:red; height:50">　</p>
        </br>
        </br>
        <input type="submit"  style="font-size:18px; width:350px; height:60px" class="btn btn-warning" id="signup_submit" value="회원가입"/>
      </div>
    </article>

    <script type="text/javascript">
      function check() {
        var id = document.getElementById("id").value;
        var password = document.getElementById("password").value;
        var passwordCheck = document.getElementById("passwordCheck").value;

        if (password != passwordCheck) {
          document.getElementById("CheckText").innerHTML = "비밀번호 불일치"
        } else {
          document.getElementById("CheckText").innerHTML = "<font color=blue>비밀번호 일치</font>"
        }

      }

        $('#signup_submit').click( function() {
            if ($('#userId').val() == '' || $('#password').val() == '' || $('#passwordCheck').val() == '') {
                alert('아이디 또는 비밀번호를 입력하세요.');
            }
            else {
                $.ajax({
                    url: '/users/signUpOk',
                    dataType: 'json',
                    type: 'post',
                    data: {'userId': $('#userId').val(), 'password': $('#password').val()},
                    success: function (res) {
                        if (res['isOK'] == true) {
                            alert('회원가입되었습니다.');
                            window.close();
                        }
                        else {
                            alert('아이디 또는 비밀번호가 없습니다.');
                        }
                    },
                    error: function (error) {
                        alert("Error!");
                    }
                })
            }
        })
    </script>
  </section>

</body>

</html>
