doctype html
html
    head
        meta(http-equiv="Content-Type" content= "text/html; charset=UTF-8")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")

    body
        div(style="padding : 30px;")
            form(action="" method="POST")
                div(class="form-group")
                    label 이름
                        input(type="text" name="name" class="form-control")
                div(class="form-group")
                    label 주소
                        input(type="text" name="address" class="form-control" cols="10")
                input(type="submit" value="등록")
            br
            form(action"" method="GET")
                div(class="form-group")
                    label 등록된 사이트






